.session-form-wrap {
  display: flex;
  justify-content: center;
  margin:30px auto;
  width:500px;
  padding: 30px 10px;
  border:none;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow : 0 0 4px gray;
}

.flex-table{
  flex: 0 0 auto;
  width:300px;
}

.flex-table input{
  width: 300px;
}
